<div style="text-align: center;padding-top: 10px;">
  <button mat-raised-button color="primary" (click)="addNew()">Nuevo</button>
</div>
<table>
  <caption></caption>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Version</th>
      <th scope="col">Clave</th>
      <th scope="col">nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">precios</th>
      <th scope="col">Activo</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dataSource">

      <td >{{data.id}}</td>
      <td >{{data.version}}</td>
      <td >{{data.clave}}</td>
      <td >{{data.nombre}}</td>
      <td >{{data.categoria.nombre}}</td>
      <td >{{data.precios | json }}</td>
      <td >{{data.activo}}</td>
      <td>
        <div class="example-button-row">
          <button mat-raised-button color="primary">Editar</button>
          <button mat-raised-button color="warn" (click)="delete(data.id)">Eliminar</button>
        </div>
      </td>
    </tr>

  </tbody>
</table>
