<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form"id="card" style="text-align: center;">
    <mat-card>
      <mat-card-content>
        <mat-form-field class="form-element">
          <input matInput placeholder="Clave" formControlName="clave">
          <mat-error *ngIf="!formGroup.controls['clave'].valid && formGroup.controls['clave'].touched">
            {{ getErrorClave() }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field class="form-element">
          <input matInput placeholder="fechaCreado" formControlName="fechaCreado">
          <mat-error *ngIf="!formGroup.controls['fechaCreado'].valid && formGroup.controls['fechaCreado'].touched">
            {{ getErrorfechaCreado() }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-form-field class="form-element">
          <input matInput placeholder="nombre" formControlName="nombre">
          <mat-error *ngIf="!formGroup.controls['nombre'].valid && formGroup.controls['nombre'].touched">
            {{ getErrorNombre() }}
          </mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Guardar</button>
    </div>

  </form>
</mat-dialog-content>
<div >
  {{ post | json }}
</div>
